
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");*/

* {
	text-align: center;
}

html {
    scroll-behavior: smooth;
}

body {
	font-family: Roboto, sans-serif;
}

main {
	margin: 12%;
	padding: 20px;
	background-color: #eaeded;
	border-radius: 1rem;
	opacity: 0;
	position: relative;
	top: 50px;
	animation: slide-up 1s ease-out forwards;
	animation-delay: 0.5s;
}

div {
	position: relative;
	left: 10%;
}

.primer-contenido h1 {
	font-size: 40px;
}

.primer-contenido p {
	font-size: 20px;
}

.primer-contenido img {
	max-width: 30%;
	border-radius: 1rem;
	float: right;
	position: relative;
	right: 20%;
	bottom: 90px;
	transition: transform 0.5s ease;
}

img {
	transition: transform 0.5s ease;
}

img:hover {
	transform: scale(1.2);
}

form {
	padding: 30px;
	position: relative;
	left: 10%;
}

form input {
	border-radius: 1rem;
	border: 1px solid #D7DBDD;
	text-align: center;
	font-size: 18px;
	padding: 5px;
	transition: all 0.5s ease;
}

form input:focus {
	box-shadow: 0 0 10px rgba(97, 106, 107, 1);
	outline: none;
}

#contraseña-olvidada {
	margin-left: 32px;
	color: #85c1e9;
}

a {
	text-decoration: none;
}

form button {
    background-color: #141413;
    width: 18%;    
    border-radius: 1rem;
    border: none;   
    padding: 15px;
    position: relative;
    left: 35px;
    margin: 10px;
    transition: all 0.5s ease;
}

form button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(97, 106, 107, 1);
}

form button a {
    color: whitesmoke;
    font-size: 20px;
}

.tercer-contenido img {
	margin: 5px;
}

/* Animación  */
@keyframes slide-up {
	to {
		opacity: 1;
		top: 0;
	}
}