
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
}

span {
    color: #a6acaf;
}

.boton-inicio-seccion {
    background-color: #141413;
    width: 15%;
    position: relative;
    top: 35px;
    left: 850px;
    transition: background-color 0.3s ease;
}

.boton-inicio-seccion:hover {
    background-color: #616a6b;
}

.boton-inicio-seccion a {
    color: whitesmoke;
}

header div button {
    background: none;
    padding: 20px;
    width: 10%;
    position: fixed;
    margin-left: -50%;
}

header div button img {
    filter: invert(1) hue-rotate(180deg);
}

button {
    background-color: #141413;
    border-radius: 1rem;
    border: none;    
}

button:hover {
    cursor: pointer;
}

button a {
    color: whitesmoke;
    font-size: 20px;
}

div a {
    color: #141413;
}

div h1 {
    font-size: 50px;
}

nav ul li {
    display: inline-block;
    margin: 10px;
    font-size: 20px;
}

nav ul li a:hover {
    color: #616a6b;
}

a {
    text-decoration: none;
}

main {
    margin-top: 8%;
}

p {
    text-align: justify;
}

img {
    border-radius: 1rem;
}

#intro {
    margin-bottom: 10%;
}

#intro p {
    font-size: 30px;
    width: 60%;
    position: relative;
    left: 19%;
}

#botones-acciones {
    position: relative;
    top: 220px;
}

#boton-articulo {
    width: 15%;
    position: relative;
    right: 33%;
    padding: 20px;
    transition: background-color 0.3s ease;
}

#boton-articulo:hover {
    background-color: #616a6b;
}

#boton-articulo a {
    color: whitesmoke;
}

#boton-filtro {
    position: relative;
    left: 33%;
    background: none;

}

#articulos {
    margin: 100px;
}

#articulos h2 {
    font-size: 50px;
    margin: 60px;
}

#articulos div {
    border-radius: 1rem;
    display: inline-block;
    transition: filter 0.3s ease, opacity 0.3s ease;
    background-color: #e5e7e9;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#articulos div::after {
    content: "👀";
    position: absolute;
    bottom: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem; 
    opacity: 0; 
    transition: opacity 0.3s ease;
}

#articulos div:hover {
    filter: brightness(0.7);
}

#articulos div:hover::after {
    opacity: 1;
}

footer {
    background-color: #141413;
    margin-top: 10%;
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right: -8px;
    color: #a6acaf;
    padding: 100px;
    font-size: 18px;
}

footer img {
    max-width: 100px;
    margin: 25px;
    position: relative;
    right: 40%;
    bottom: 60px;
}

footer a {
    color: #a6acaf;
}

footer a:hover {
    color: whitesmoke;
}

footer ul {
    display: inline-block;
    margin-left: 60px;
}

footer ul li {
    margin-bottom: 10px;
    position: relative;
    bottom: 100px;
    text-align: justify;
}

footer p {
    text-align: right;
    margin-bottom: -10px;
}

/* Animación */
@keyframes slide-up {
    to {
        opacity: 1;
        top: 0;
    }
}

.animacion {
    opacity: 0;
    position: relative;
    top: 50px;
    animation: slide-up 1s ease-out forwards;
    animation-delay: 0.5s;
}