
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
}

.boton-cambio-foto {
    border: none;  
    padding: 20px;
    position: relative;
    top: 45px;
    left: 980px;
    background: none;
    width: 10%;
    transition: filter 0.3s ease; 
}

.boton-cambio-foto img:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 2px rgba(97, 106, 107, 1));
}

span {
    color: #a6acaf;
}

header {
    min-height: calc(100vh - 200px);
}

div a {
    color: #141413;
}

header div {
    position: fixed;
    background-color: whitesmoke;
    width: 30%;
    height: 100%;
    margin-top: -25px;
    margin-left: -8px;
}

header div h1 {
    font-size: 40px;
}

header div #acciones {
    position: relative;
    right: 60px;
}

header div nav ul li {
    text-align: justify;
    list-style: none;
    margin: 20px;
    font-size: 20px;
}

nav ul li a:hover {
    color: #616a6b;
}

a {
    text-decoration: none;
}

.contenido-articulos h2 {
    margin-top: -30%;
    font-size: 50px;
}

.contenido-articulos div section {
    position: relative;
    left: 32%;
    background-color: whitesmoke;
    width: 30%;
    border-radius: 1rem;
    text-align: justify;
    padding: 20px;
    margin: 30px;
    transition: all 0.5s esae;
}

.contenido-articulos div section:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #eaeded;
}

div h3 {
    text-align: left;
    color: #bdc3c7;
}

.contenido-articulos div section p {
    font-size: 18px;
}

.contenido-articulos div button {
    border: none;
    cursor: pointer;
    background: none;
}

footer {
    background-color: #141413;
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right: -8px;
    color: #a6acaf;
    padding: 100px;
    font-size: 18px;
    position: relative;
    margin-top: 90px; 
    z-index: 0;
}

footer img {
    max-width: 100px;
    margin: 25px;
    position: relative;
    right: 40%;
    bottom: 60px;
}

footer a {
    color: #a6acaf;
}

footer a:hover {
    color: whitesmoke;
}

footer ul {
    display: inline-block;
    margin-left: 60px;
}

footer ul li {
    margin-bottom: 10px;
    position: relative;
    bottom: 100px;
    text-align: justify;
}

footer p {
    text-align: right;
    margin-bottom: -10px;
}

/* Animación */
@keyframes slide-up {
    to {
        opacity: 1;
        top: 0;
    }
}

.animacion {
    opacity: 0;
    position: relative;
    top: 50px;
    animation: slide-up 1s ease-out forwards;
    animation-delay: 0.5s;
}