<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devide-width, initial-scale=1.0">
    <title>Buscador \ InformatikSpace</title>
    <link rel="shortcut icon" href="../IMG/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../CSS/Buscador.css">
</head>
<body>
    
    <header>
        <div>
            <button class="boton-inicio-seccion"><a href="Crear_Articulo.html">Iniciar Sesión</a></button>            
        	<a href="index.html"><h1>InformatikSpace</h1></a>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="Crear_Articulo.html">Crear Artículo</a></li>
                    <li><a href="Buscador.html" style="color: #616a6b;">Buscador</a></li>
                    <li><a href="Seccion_Chatbots.html">Sección de Chatbots</a></li>
                    <li><a href="Sobre_Nosotros.html">Sobre Nosotros</a></li>
                </ul>
            </nav>
            <button><a href="#"><img src="../IMG/Hacia_Arriba.svg" alt="Ir hacia arriba"></a></button>
        </div>
    </header>

    <main>
        <div id="intro" class="animacion">
            <h1>Sección de búsqueda</h1>
        </div>
        <div id="contenido-busqueda" class="animacion">
            <div class="barra-busqueda">
                <button><img src="../IMG/Buscador.svg" alt="Buscador" height="50"></button>
                <input type="search" placeholder="Buscar...">
            </div>

            <div class="seccion-filtrar">
                <button>
                    <img src="../IMG/Filtrado.svg" alt="Boton de filtrado" height="40" title="Filtar busqueda">
                </button>          
            </div>            
        </div>
        
        <div class="contenido-articulos">
            <hr>
            <h2>Artículos <span>Recientes</span></h2>

            <div>
                <section class="animacion">
                    <h3>Nombre</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing, elit.</p>
                    <cite>Fecha: 1/2/333</cite>
                </section>

                <section class="animacion">
                    <h3>Nombre</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing, elit.</p>
                    <cite>Fecha: 1/2/333</cite>
                </section>

                <section class="animacion">
                    <h3>Nombre</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing, elit.</p>
                    <cite>Fecha: 1/2/333</cite>
                </section>
                
                <section class="animacion">
                    <h3>Nombre</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing, elit.</p>
                    <cite>Fecha: 1/2/333</cite>
                </section>
            </div>   
        </div>
    </main>
    
    <footer>
        <a href="index.html"><img src="../IMG/Logo.png"></a>
        <div>
            <ul>
                <li><a href="index.html">Home</a></li> 
                <li><a href="Crear_Articulo.html">Crear Artículo</a></li> 
                <li><a href="Buscador.html">Buscador</a></li> 
                <li><a href="Seccion_Chatbots.html">Sección de Chatbots</a></li> 
                <li><a href="Sobre_Nosotros.html">Sobre Nosotros</a></li> 
            </ul>

            <ul>
                <li><a href="https://github.com/Bredalis" target="_blank">GitHub<a></li>
                <li><a href="https://www.linkedin.com/in/bredalis-gautreaux/" target="_blank">LinkedIn</a></li>
                <li><a href="https://es.stackoverflow.com/users/293358/bredalis-gautreaux" target="_blank">Stack OverFlow</a></li>
                <li><a href="https://huggingface.co/chat/assistants?user=Bredalis" target="_blank">Hugging Face</a></li>
                <li><a href="https://x.com/Bredalis_P" target="_blank">X</a></li>
            </ul>

            <ul>
                <li><a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">Licencia Pública General GNU v3.0</a></li>
            </ul>

            <p>© 2024 InformatikSpace <br> Todos los derechos reservados</p>
        </div>
    </footer>
</body>
</html>