<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión \ InformatikSpace</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='IMG/Logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Inicio_Sesion.css') }}">
</head>
<body>
    <main>
        <div class="primer-contenido">
            <h1>InformatikSpace</h1>
            <p>Únete a los usuarios que son <br> parte de InformatikSpace</p>

            <img src="{{ url_for('static', filename='IMG/Inicio_Sesion.jpg') }}" alt="Inicio Sesión">
        </div>

        <form action="" method="POST" class="segundo-contenido">
            <label for="correo">Correo Electrónico:</label>
            <br><br>
            <input type="email" id="correo" name="correo" placeholder="ej: ejemplo@gmail.com">

            <br><br>
            <label for="contraseña">Contraseña:</label>
            <br><br>
            <input type="password" id="contraseña" name="clave" placeholder="******">

            <br><br>
            <input type="checkbox" id="recordar">
            <label for="recordar">Recuérdamela</label>

            <a href="" id="contraseña-olvidada">¿Olvidaste tu contraseña?</a>

            <br><br>
            <button type="submit">Iniciar Sesión</button>
        </form>

        <div class="tercer-contenido">
            <p>Otros métodos:</p>

            <a href="{{ url_for('login', provider='facebook') }}"><img src="{{ url_for('static', filename='IMG/Facebook.png') }}" alt="Facebook" height="40"></a>
            <a href="{{ url_for('login', provider='google') }}"><img src="{{ url_for('static', filename='IMG/Google.png') }}" alt="Google" height="40"></a>
            <a href="{{ url_for('login', provider='github') }}"><img src="{{ url_for('static', filename='IMG/GitHub.png') }}" alt="GitHub" height="40"></a>
        </div>
    </main>
</body>
</html>