<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Artículos \ InformatikSpace</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='IMG/Logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Mis_Articulos.css') }}">
</head>
<body>
    
    <header>
        <div>
            <input type="file" id="file-input" multiple accept="image/*" style="display: none;">
            <button class="boton-cambio-foto">
                <img src="{{ url_for('static', filename='IMG/Foto_De_Perfil.svg') }}" alt="Foto de perfil" height="70" title="{{ nombre }}" id="image-container">
            </button>         
            <a href="{{ url_for('index') }}"><h1>InformatikSpace</h1></a>
            <nav>
                <ul>
                    <li>
                        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='IMG/Home.svg') }}" alt="Home" height="20"> Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for('crear_articulo') }}"><img src="{{ url_for('static', filename='IMG/Crear_Articulos.svg') }}" alt="Crear Artículo" height="20"> Crear Artículo</a>
                    </li>
                    <li>
                        <a href="{{ url_for('buscador') }}"><img src="{{ url_for('static', filename='IMG/Buscador.svg') }}" alt="Buscador" height="20"> Buscador</a>
                    </li>
                    <li>
                        <a href="{{ url_for('seccion_chatbots') }}"><img src="{{ url_for('static', filename='IMG/Chatbots.svg') }}" alt="Sección de Chatbots" height="20"> Sección de Chatbots</a>
                    </li>
                    <li>
                        <a href="{{ url_for('sobre_nosotros') }}"><img src="{{ url_for('static', filename='IMG/Nosotros.svg') }}" alt="Sobre Nosotros" height="20"> Sobre Nosotros</a>
                    </li>
                </ul>
            </nav>

            <h1 id="acciones">Acciones</h1>

            <nav>
                <ul>
                    <li>
                        <a href="{{ url_for('mis_articulos') }}" style="color: #616a6b;">
                            <img src="{{ url_for('static', filename='IMG/Articulos.svg') }}" alt="Mis Artículos" height="20"> Mis Artículos
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="contenido-articulos">
            <h2>Mis <span>Artículos</span></h2>
            <br>

            <div>
                {% for articulo in articulos %}
                    <section class="animacion">
                        <h3>{{ articulo.tema }}</h3>
                        <p>{{ articulo.contenido[0][0].split(":", 1)[1].strip() }}</p>
                        <cite>{{ articulo.fecha }}</cite>
                    </section>

                    <form action="{{ url_for('borrar_articulo', titulo_articulo = articulo.tema) }}" method="POST" style="display:inline;">
                        <button type="submit" class="basurero">
                            <img src="{{ url_for('static', filename='IMG/Basurero.svg') }}" alt="Basurero" height="25" title="Borrar">
                        </button>
                    </form>
                    <button class="observar">
                        <a href="{{ url_for('pagina_articulo', titulo_articulo = articulo['tema']) }}" target="_blank">
                            <img src="{{ url_for('static', filename='IMG/Observar.svg') }}" alt="Observar" height="25" title="Ver">
                        </a>
                    </button>
                {% endfor %}
            </div>
        </div>
    </main>
    
    <footer>
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='IMG/Logo.png') }}" alt="InformatikSpace"></a>
        <div>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('crear_articulo') }}">Crear Artículo</a></li> 
                <li><a href="{{ url_for('mis_articulos') }}">Mis Artículos</a></li>                  
                <li><a href="{{ url_for('buscador') }}">Buscador</a></li> 
                <li><a href="{{ url_for('seccion_chatbots') }}">Sección de Chatbots</a></li> 
                <li><a href="{{ url_for('sobre_nosotros') }}">Sobre Nosotros</a></li> 
            </ul>

            <ul>
                <li><a href="https://github.com/Bredalis" target="_blank" rel="noopener noreferrer">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/bredalis-gautreaux/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
                <li><a href="https://es.stackoverflow.com/users/293358/bredalis-gautreaux" target="_blank" rel="noopener noreferrer">Stack OverFlow</a></li>
                <li><a href="https://huggingface.co/chat/assistants?user=Bredalis" target="_blank" rel="noopener noreferrer">Hugging Face</a></li>
                <li><a href="https://x.com/Bredalis_P" target="_blank" rel="noopener noreferrer">X</a></li>
            </ul>

            <ul>
                <li><a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank" rel="noopener noreferrer">Licencia Pública General GNU v3.0</a></li>
            </ul>

            <p>© 2024 InformatikSpace <br> Todos los derechos reservados</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='JS/Cambiar_Foto.js') }}"></script>
</body>
</html>